In [51]:
# imports
import pandas as pd
import json
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy.types import *
from sqlalchemy_utils import database_exists

# 1. Extract

- Explore the .json file in your Jupyter notebook to find the results from previously made API calls.
- Separate the 4 sets of records within the ‘data’ master key into 4 pandas dataframes for processing.

Breaking down a json file:
- What is the very top-level of the JSON data? List or dictionary?
- If it is a dictionary, what are the keys? If it is a list, how long is it, and what are the items in the list (integers? dictionaries?), and what does the first entry look like? If it is a list of dictionaries, do the dictionaries seem to have the same keys?
- Repeat these questions for each level.

In [60]:
# load json file to dictionary
with open('Data/Mock_Crowdsourcing_API_Results.json') as f:
    loaded = json.load(f)

In [29]:
# top level of json file (dict or list?)
type(loaded)

dict

In [30]:
# keys of top-level dict
loaded.keys()

dict_keys(['meta', 'data'])

In [31]:
# 'meta' key
print(type(loaded['meta']))
loaded['meta']

<class 'str'>

'Practice Lesson: Mock API Call'

In [62]:
# 'data' key
print(type(loaded['data']))

# 'data' is another dict

<class 'dict'>

In [33]:
# 'data' dict
data = loaded['data']
data.keys()

dict_keys(['crowd', 'demographics', 'financials', 'use'])

In [34]:
for key in data.keys():
    print(key)
    print(type(data[key]))
    print()

crowd
<class 'list'>

demographics
<class 'list'>

financials
<class 'list'>

use
<class 'list'>

In [35]:
# 'crowd' list
crowd = data['crowd']
print(len(crowd))
for item in crowd[0:5]:
    print(item)
    print()
    
# 'crowd' is a list of dicts; looks like each dict has the 
# same keys: 'id', 'posted_time', 'funded_time', and 
# 'lender_count'

10000
{'id': 658776, 'posted_time': '2014-01-17 21:21:10+00:00', 'funded_time': '2014-02-05 17:57:55+00:00', 'lender_count': 33}

{'id': 1314847, 'posted_time': '2017-06-07 02:02:41+00:00', 'funded_time': '2017-06-21 17:10:38+00:00', 'lender_count': 9}

{'id': 863063, 'posted_time': '2015-03-27 20:08:04+00:00', 'funded_time': '2015-04-04 15:01:22+00:00', 'lender_count': 1}

{'id': 1184347, 'posted_time': '2016-11-14 07:32:12+00:00', 'funded_time': '2016-11-25 03:07:13+00:00', 'lender_count': 47}

{'id': 729745, 'posted_time': '2014-06-24 07:35:46+00:00', 'funded_time': '2014-07-10 16:12:43+00:00', 'lender_count': 12}

In [36]:
# convert 'crowd' list into pd df
crowd = pd.DataFrame(crowd)
crowd.head()

        id                posted_time                funded_time  lender_count
0   658776  2014-01-17 21:21:10+00:00  2014-02-05 17:57:55+00:00            33
1  1314847  2017-06-07 02:02:41+00:00  2017-06-21 17:10:38+00:00             9
2   863063  2015-03-27 20:08:04+00:00  2015-04-04 15:01:22+00:00             1
3  1184347  2016-11-14 07:32:12+00:00  2016-11-25 03:07:13+00:00            47
4   729745  2014-06-24 07:35:46+00:00  2014-07-10 16:12:43+00:00            12

In [37]:
# 'demographics' list
demographics = data['demographics']
print(len(demographics))
for item in demographics[0:5]:
    print(item)
    print()
    
# 'demographics' is a list of dicts; looks like each dict has 
# the same keys: 'id', 'country', 'region', and 
# 'borrower_genders'

10000
{'id': 658776, 'country': 'El Salvador', 'region': 'Ciudad El Triunfo', 'borrower_genders': 'male'}

{'id': 1314847, 'country': 'Philippines', 'region': 'Bais, Negros Oriental', 'borrower_genders': 'female'}

{'id': 863063, 'country': 'Peru', 'region': 'Huarochiri', 'borrower_genders': 'female, female, female, female, female, female, female'}

{'id': 1184347, 'country': 'Armenia', 'region': 'Vanadzor town', 'borrower_genders': 'female'}

{'id': 729745, 'country': 'Uganda', 'region': 'Masindi', 'borrower_genders': 'female'}

In [38]:
# convert 'demographics' list into pd df
demographics = pd.DataFrame(demographics)
demographics.head()

,id,country,region,borrower_genders
0,658776,El Salvador,Ciudad El Triunfo,male
1,1314847,Philippines,"Bais, Negros Oriental",female
2,863063,Peru,Huarochiri,"female, female, female, female, female, female..."
3,1184347,Armenia,Vanadzor town,female
4,729745,Uganda,Masindi,female

In [39]:
# 'financials' list
financials = data['financials']
print(len(financials))
for item in financials[0:5]:
    print(item)
    print()
    
# 'financials' is a list of dicts; looks like each dict has 
# the same keys: 'id', 'funded_amount', 'currency', and 
# 'term_in_months'

10000
{'id': 658776, 'funded_amount': '$1000.0', 'currency': 'USD', 'term_in_months': 20.0}

{'id': 1314847, 'funded_amount': '$225.0', 'currency': 'PHP', 'term_in_months': 13.0}

{'id': 863063, 'funded_amount': '$1150.0', 'currency': 'PEN', 'term_in_months': 6.0}

{'id': 1184347, 'funded_amount': '$1700.0', 'currency': 'AMD', 'term_in_months': 26.0}

{'id': 729745, 'funded_amount': '$400.0', 'currency': 'UGX', 'term_in_months': 8.0}

In [40]:
# convert 'financials' list into pd df
financials = pd.DataFrame(financials)
financials.head()

        id funded_amount currency  term_in_months
0   658776       $1000.0      USD            20.0
1  1314847        $225.0      PHP            13.0
2   863063       $1150.0      PEN             6.0
3  1184347       $1700.0      AMD            26.0
4   729745        $400.0      UGX             8.0

In [41]:
# 'use' list
use = data['use']
print(len(use))
for item in use[0:5]:
    print(item)
    print()
    
# 'use' is a list of dicts; looks like each dict has the 
# same keys: 'id', 'activity', 'sector', and 
# 'use'

10000
{'id': 658776, 'activity': 'Vehicle', 'sector': 'Personal Use', 'use': 'to purchase a motorcycle in order to travel from work to home.'}

{'id': 1314847, 'activity': 'Pigs', 'sector': 'Agriculture', 'use': 'to buy feed and other supplies like vitamins to raise her pigs.'}

{'id': 863063, 'activity': 'Bookstore', 'sector': 'Retail', 'use': 'to buy notebooks, pencils, and pens.'}

{'id': 1184347, 'activity': 'Photography', 'sector': 'Services', 'use': 'to pay for a new lens for providing photography service'}

{'id': 729745, 'activity': 'Fuel/Firewood', 'sector': 'Retail', 'use': 'to buy  firewood to sell.'}

In [42]:
# convert 'use' list into pd df
use = pd.DataFrame(use)
use.head()

,id,activity,sector,use
0,658776,Vehicle,Personal Use,to purchase a motorcycle in order to travel fr...
1,1314847,Pigs,Agriculture,to buy feed and other supplies like vitamins t...
2,863063,Bookstore,Retail,"to buy notebooks, pencils, and pens."
3,1184347,Photography,Services,to pay for a new lens for providing photograph...
4,729745,Fuel/Firewood,Retail,to buy firewood to sell.

# 2. Transform

- In the financials data:
    - remove ‘$’ from funded_amount and change to numeric
- You do NOT need to normalize the tables/database.
- You do NOT need to do any other preprocessing/cleaning on the other tables.

In [43]:
financials.head()

        id funded_amount currency  term_in_months
0   658776       $1000.0      USD            20.0
1  1314847        $225.0      PHP            13.0
2   863063       $1150.0      PEN             6.0
3  1184347       $1700.0      AMD            26.0
4   729745        $400.0      UGX             8.0

In [44]:
financials['funded_amount'] = financials['funded_amount'].apply(lambda x: x[1:])
financials.head()

        id funded_amount currency  term_in_months
0   658776        1000.0      USD            20.0
1  1314847         225.0      PHP            13.0
2   863063        1150.0      PEN             6.0
3  1184347        1700.0      AMD            26.0
4   729745         400.0      UGX             8.0

In [45]:
financials['funded_amount'].dtype

dtype('O')

In [48]:
financials['funded_amount'] = financials['funded_amount'].apply(lambda x: float(x))
financials.head()

        id  funded_amount currency  term_in_months
0   658776         1000.0      USD            20.0
1  1314847          225.0      PHP            13.0
2   863063         1150.0      PEN             6.0
3  1184347         1700.0      AMD            26.0
4   729745          400.0      UGX             8.0

In [49]:
financials['funded_amount'].dtype

dtype('float64')

# 3. Load

- Use SQL alchemy in Python to convert this information into a MySQL database in your Jupyter notebook.
- Create a new MySQL database called Mock_Exam using SQLAlchemy_utils 
- Upload each of the four dataframes as separate tables into this database using SQLAlchemy
- Perform a SQL query in your notebook to “SHOW TABLES;” for your newly created database. 
- Open your database in MySQL workbench and export it to a .sql file in your repository with your notebook.

In [57]:
# create connection with MySQL
username = 'root'
password = 'root'
db_name = 'mock_exam'
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [58]:
# create engine
engine = create_engine(connection)

# check
engine

Engine(mysql+pymysql://root:***@localhost/mock_exam)

In [59]:
# check if db exists, and if not, create it
if database_exists(connection) == False:
    
    # create new db
    engine.execute(f"CREATE DATABASE {'mock_exam'}")
    
else:
    print(f"The {db_name} database already exists.")

OperationalError: (pymysql.err.OperationalError) (1049, "Unknown database 'mock_exam'")
(Background on this error at: https://sqlalche.me/e/14/e3q8)